<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Acao</th>
      <td><button (click)="adicionarNovoItem()">Novo</button></td>
    </tr>
  </thead>
  <tbody>
    @for (item of data; track $index) {
    <tr>
      <!-- Use editoras em vez de lista -->
      <td>{{ item.id }}</td>
      <!-- Use td em vez de th para o ID -->
      <td>{{ item.nome }}</td>
      <td><button>Editar</button></td>
    </tr>
    }
  </tbody>
</table>
